header
  #banner([ngClass]="{'bannerVisible': !bannerHidden}") {{bannerText}}
  -var menu = { 'Accueil': '/index', 'Tableau de bord': '/dashboard', 'Instructions': '/instructions' };
  nav
    .fixed
      div
        img#logo(src='./images/logo.png', alt='logo', title='Tux')
      each val, key in menu
        div(routerLinkActive="active")
          a(routerLink=val)=key

main
  block content
footer
  .fixed
    div D&eacute;veloppeurs
    div Gabriel Drolet (1686216)
    div Guillaume Lavoie-Harvey (1688951)

