extends ../layout

block content
  section#modes.leftSideBlock
    h1 Tableau de bord
    div
      #testRapide
        h2 Mode de test rapide
        test-rapide-form
      #examen
        h2 Mode d&apos;examen
        div
          examen-form([exam_flag]="user.exam_flag")
          continuer-exam-form([exam_flag]="user.exam_flag")
      #admin
        h2 Administration
        form#configure(method='get', action='./admin')
          input(type='submit', value='Configurer les questions')
  section#tableaux
    h1 Statistiques
    div
      my-stats([showGeneralStats]="true", [showExamens]="true")
      div
        a.a2button((click)="showStatsWindow()") D&eacute;tails
      div
        input#reset(type='button', value='Remise à zéro')
      my-stats-details

