extends ../layout

block content
  section#instructions
    h1 Instructions
    div
      img#pug(src='./images/pug.png', alt='logo', title='Pug')
      p
        | Commencez un test en choisissant un mode.
        br
        |  R&eacute;pondez aux questions en faisant un glisser-d&eacute;poser.
        br
        |  Observez vos r&eacute;sultats sur le tableau de bord.
        br
        br
        | Veuillez acc&eacute;der au 
        a(href='./tableau') Tableau de bord
        |  pour commencer.
