extends ../layout

block content
  #banner
  section#question.leftSideBlock
    h1#questionTitle #{title}
    div
      form#examenForm(method='post', action='')
        p#questionDomain(ngModel="question.domain") Domaine : {{question.domain}}
        h2#questionText(ngModel="question.question") {{question.question}}
        ul#answerList
          li.answerElement(*ngFor="let answer of question.ans", draggable='true', id='{{answer.value}}')
            span(ng-bind-html="thing")
        input.next(type='submit', value='Prochaine question')
      .dropzone
        span.unaffectedText
          | D&eacute;poser ici
      form#abandonExam(method='post', action='./resultats')
        input(type='submit', value='Abandon')
  section#tableaux
    h1 Statistiques
    .content
      table.statistiques
        caption R&eacute;sultats d&apos;examen
        tr.examenList
          th Examen
          th Domaine
          th Score
      #statistics
        p#scoreCourant Score courant : 0%
