extends ../layout

block content

  section
    h1 R&eacute;sultats
    p Votre r&eacute;sultat final est {{finalScore}}%. {{message[palier]}}
      br
      | Cliquez&nbsp;
      a(routerLink='/dashboard') ici
      |  pour retourner au tableau de bord.

