@media (max-width: 1024px) {
	div.fixed div img {
		height: 50px;
		width: 50px;
	}

	div.fixed {
		height: 50px;
	}
}

@media (min-width: 1024px) {
	div.fixed div img {
		height: 100px;
		width: 100px;
	}

	div.fixed {
		height: 100px;
	}
}

[draggable] {
    -moz-user-select: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: #333333;
    min-width: 768px;
    overflow: hidden;
}

a, a:visited, a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #eeeeee;
}

caption {
    text-align: left;
    font-size: 12px;
    padding-left: 5px;
}

main {
    display: flex;
    min-width: inherit;
    flex-wrap: wrap;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    min-width: inherit;
}

section {
    margin: 10px 10px 0px 10px;
    border: 6px solid #eeeeee;
    border-radius: 25px;
    background-color: #333333;
    color: #eeeeee;
    overflow: hidden;
    flex-grow: 1;
}

section h1 {
    border-bottom: 6px solid #eeeeee;
    background-color: #2dabf9;
    margin: 0px;
    padding: 5px 0px 5px 10px;
}

section h2 {
    font-size: 18px;
}

section.leftSideBlock {
    min-width: inherit;
}

section.leftSideBlock div p {
    text-align: left;
}

section.leftSideBlock div p * {
    margin: 0px 10px;
}

section.leftSideBlock div p > label {
    float: left;
    display: block;
    width: 45%;
    text-align: right;
}

section.leftSideBlock#administration div p > span  {
    display: block;
}

section.leftSideBlock#administration div p label {
    width: inherit;
    text-align: left;
    line-height: 30px;
}

section > div, section#tableaux div.content > my-stats {
    width: inherit;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section#description > div, section#tableaux > div, section#tableaux div.content > my-stats {
    flex-direction: column;
}

section#tableaux {
    max-width: 400px;
    float: right;
}

section#instructions > div, section#tableaux > div, section#tableaux div.content > my-stats {
    align-items: center;
}

section#instructions > div > * {
    margin: 0px 5px;
}

section#instructions > div p {
    flex-grow: 1;
}

section#questionSection > div {
    justify-content: space-between;
}

section#modes > div > div {
    border: 2px solid #eeeeee;
}

section#modes > div div {
    border-radius: 25px;
    text-align: center;
    box-sizing: content-box;
    flex-grow: 1;
}

section#modes > div div#admin {
    page-break-before: always;
    flex-grow: 1;
}
section#modes > div div form {
    margin-bottom: 20px;
    padding: 5px;
}

section#modes > div div div * ~ * form {
    border-top: 2px solid #eeeeee;
}

section#administration > div div {
    flex-grow: 1;
}

div.fixed {
    background-color: #333333;
    width: 100%;
    border: 1px solid #c8c8c8;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

div.fixed div {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    height: 100%;
    color: #eeeeee;
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}

nav div.fixed div:hover {
    background-color: #666666;
}

nav div.fixed div.active {
    background-color: #2dabf9;
}

nav div.fixed div.active:hover {
    background-color: #0688fa;
}

div.fixed div a {
    color: #eeeeee;
    font-size: 20px;
}

table.statistiques {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    min-width: 365px;
    margin-bottom: 20px;
}

table.statistiques td {
    border: 1px solid #eeeeee;
    padding: 2px;
}

table.statistiques th {
    border: 1px solid #eeeeee;
    border-bottom: 3px double #eeeeee;
    padding: 2px;
}

input {
    box-shadow:inset 0 -3px 7px 0 #29bbff;
    background-color:#2dabf9;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#eeeeee;
    font-family:Arial, serif;
    font-size:15px;
    padding:5px 11px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
    min-height: 30px;
    box-sizing: border-box;
    vertical-align: middle;
}

input[type=submit], input[type=button], input[type=number] {
    min-width: 165px;
}

input[type=text] {
    min-width: 300px;
}

input:hover {
    background-color: #0688fa;
}

input:disabled {
    box-shadow:inset 0 -3px 7px 0 #949494 !important;
    background-color: #939393 !important;
    text-shadow:0px 1px 0px #464646 !important;
    color:#eeeeee !important;
}

input:disabled:hover {
    background-color: #808080 !important;
}

input:active {
    position:relative;
    top:0;
}

.styled-select {
    background: url("../images/select-icon.png") #2dabf9 no-repeat 96% 0;
    border: 1px solid #0b0e07;
    height: 29px;
    overflow: hidden;
    width: 165px;
    display: inline-block;
    border-radius: 3px;
    box-shadow:inset 0 -3px 7px 0 #29bbff;
}

.styled-select select {
    background: transparent;
    border: none;
    height: 29px;
    padding: 5px;
    width: 183px;
    color:#eeeeee;
    font-family:Arial, serif;
    font-size:15px;
    text-shadow:0 1px 0 #263666;
}

.a2button {
    box-shadow:inset 0 -3px 7px 0 #29bbff;
    background-color:#2dabf9;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#eeeeee;
    font-family:Arial, serif;
    font-size:15px;
    padding:5px 11px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
    width: 141px;
    height: 20px;
    line-height: normal;
    text-align: center;
    margin-bottom: 5px;
}

.a2button:hover {
    background-color: #0688fa;
    text-decoration: none;
}

.clickable a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
}

.overlayvisible {
    visibility: visible;
    opacity: 1;
}

.scrollingtable {
    max-height: 650px;
    overflow-y: scroll !important;
    height: 100%;
    width: 100%;
    /*Shennanigans to hide scrollbar on firefox -- wtf is this shit*/
    padding-right: 20px;
    padding-left: 5px;

}

/*Hide scrollbars on chrome -- this was so easy*/
.scrollingtable::-webkit-scrollbar { 
    display: none; 
}


.popup {
    margin: 70px auto;
    padding: 20px;
    background-color: #464646;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 0.3s ease-in-out;
    max-height: calc(100vh - 210px);
    z-index: 2;
}

.popup h2 {
    margin-top: 0;
    color: #eeeeee;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .content {
    padding-top: 20px;
    max-height: 30%;
    overflow: auto;
    color: #eeeeee;
    background-color: #464646;
    border-radius: 25px;
    border: 4px solid #eeeeee;
    overflow: hidden;
}

.dropzone {
    align-self: center;
    background-color: #2dabf9;
    border: 2px dotted #eeeeee;
    border-radius: 20px;
    float: right;
    font-size: 18px;
    font-weight: bold;
    height: 150px;
    line-height: 150px;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    width: 150px;
}

.dropzone.dragenter {
    background-color: #0688fa;
}

.dropzone.valid {
    background-color: #345e3a;
    border: 2px dotted #33cb04;
    font-size: 50px;
}

.dropzone.invalid {
    background-color: #5e343a;
    border: 2px dotted #cb3304;
    font-size: 50px;
}

.answerElement {
    background-color: #2dabf9;
    border: 2px solid #eeeeee;
    border-radius: 20px;
    list-style-type: none;
    padding: 2px 0px 2px 5px;
    margin: 5px 0px;
    cursor: grab;
}

.answerElement.drag {
    cursor: grabbing;
}

#answerList {
    width: 300px;
    padding: 0;
}

.unaffectedText {
    pointer-events: none;
}

#questionForm {
    flex-grow: 2;
}

.special {
    color: #ff0000;
    font-style: italic;
}

.hidden {
    display: none;
}

.answerSlate {
    line-height: 40px;
}

input[type=button]#addAnswer {
    min-width: initial;
    width: initial;
}

#continueExamen p {
    text-align: center;
}

#banner {
    position: absolute;
    width: 250px;
    height: 70px;
    top: 20px;
    right: -270px;
    z-index: 1;
    background-color: #05245d;
    border: 2px solid #196aff;
    border-radius: 10px;
    line-height: 35px;
    color: #eeeeee;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#banner.bannerVisible {
	right: 20px;
}

/* Special admin colours */

section.admin h1 {
    background-color: #ff9c22;
}

.admin input[type=button], .admin input[type=text], .admin input[type=submit], .admin input[type=number], .admin .a2button {
    background-color: #ff9c22;
    box-shadow:inset 0 -3px 7px 0 #ff971e;
}

.admin input[type=button]:hover, .admin input[type=text]:hover, .admin input[type=submit]:hover, .admin input[type=number]:hover, .admin .a2button:hover {
    background-color: #ff8c00;
}

.admin .styled-select {
    background: url("../images/select-icon.png") #ff9c22 no-repeat 96% 0;
    box-shadow:inset 0 -3px 7px 0 #ff971e;
}

.admin .styled-select select {
    text-shadow:0 1px 0 #97752c;
}
