extends layout

block content
  section#description
        h1 Accueil
        div
          p
            | Ce site web en HTML statique, puis plus tard agr&eacute;ment&eacute; de CSS et JavaScript, est un outil pour tester ses connaissances en ces trois langages.
            br
            |  Il existe deux formes de questionnaires :
          ul
            li Mode examen
            li Mode de test rapide
          p
            | Veuillez acc&eacute;der au 
            a(href='./tableau') Tableau de bord
            |  pour les essayer.
