extends layout

block content
  section
    h1 Instructions
    #instructions
      img#pug(src='./images/pug.png', alt='logo', title='Pug')
      p
        | Commencez un test en choisissant un mode.
        br
        |  Compl&eacute;tez le test en r&eacute;pondant aux questions.
        br
        |  Observez vos r&eacute;sultats sur le tableau de bord.
        br
        br
        | Veuillez acc&eacute;der au 
        a(href='./tableau') Tableau de bord
        |  pour commencer.
