extends layout

block content
  section
    h1 Instructions
    #instructions
      p
        | Commencez un test en choisissant un mode.
        br
        |  Compl&eacute;tez le test en r&eacute;pondant aux questions.
        br
        |  Observez vos r&eacute;sultats sur le tableau de bord.
      p
        | Veuillez acc&eacute;der au 
        a(href='./tableau.html') Tableau de bord
        |  pour commencer.
