extends layout

block content
  section
    h1 R&eacute;sultats
    p
        | Votre r&eacute;sultat final est 0.
        br
        |  Cliquez 
        a(href='./tableau') ici
        |  pour retourner au tableau de bord.

