extends layout

block content
  script.
    $(document).ready(function() {

      // update score
      $("#scoreCourant").html($("#scoreCourant").html() + (Math.round(parseInt(localStorage.score) / parseInt(localStorage.count) * 100) || 0) + "%");

      // get new question
      $.get('/ajax/domain='+localStorage.domain, {}, function(result) {
        // save data to localStorage
        localStorage.question = JSON.stringify(result);
        localStorage.count = parseInt(localStorage.count) + 1;

        // update view
        $("#questionText").html(result.question);
        $("#questionTitle").html($("#questionTitle").html() + " " + localStorage.count + " / " + localStorage.totalQuestions);
        $("#domain").html("Domaine : " + localStorage.domain.toUpperCase());
        if(localStorage.count == localStorage.totalQuestions) {
          $("#next").val("Terminer");
          $("#examen").attr('action', './resultats');
        }

        var i;
        for(i = 0; i < result.ans.length; i++) {
          $("#next").before("<input id='ans"+i+"' type='radio' name='q"+localStorage.count+"' value='"+result.ans[i].value+"' />" +
          "<label for='ans"+i+"'>" + result.ans[i].text + "</label><br>");
        }

      });

      $("#examen").submit(function( event ) {
        var correctAnswer = JSON.parse(localStorage.question).trueAnswer;
        var attemptedAnswer = $('input[name=q'+localStorage.count+']:checked', '#examen').val();
        if(correctAnswer == attemptedAnswer) {
          localStorage.score = parseInt(localStorage.score) + 1;
        }
      });
      $("#abandon").submit(function( event ) {
        console.log("reset score");
        localStorage.score = 0;
      });
    });
  section#question.leftSideBlock
    h1#questionTitle #{title}
    div
      form#examen(method='post', action='./examen')
        p#domain Domaine :
        h2#questionText #{title}
        input#next(type='submit', name='submit', value='Prochaine question')
      form#abandon(method='post', action='./resultats')
        input(type='submit', value='Abandon')
  section#tableaux
    h1 Statistiques
    div
      table#exams.statistiques
        caption R&eacute;sultats d&apos;examen
        tr
          th Date de l&apos;examen
          th Score
        tr
          td 52 janvier 1056
          td 2%
        tr
          td 1 janvier 0001
          td 140%
    #statistics
      p#scoreCourant Score courant :&nbsp;
