extends layout

block content
  section#modes.leftSideBlock
    h1 Tableau de bord
    script.
      $(document).ready(function() {

        function refreshStats() {
          // insert stats in stats table
        }

        $( "#test" ).submit(function( event ) {
          localStorage.count = 0;
          localStorage.score = 0;
        });
        $( "#examen" ).submit(function( event ) {
          var domain = $("#domaine option:selected").val();
          var nbQuestions = $("#questions").val();
          localStorage.totalQuestions = nbQuestions;
          localStorage.domain = domain;
          localStorage.count = 0;
          localStorage.score = 0;
        });
        $( "#reset" ).click(function( event ) {
          localStorage.clear();
          refreshStats();
        });

        refreshStats();

      });
    div
      #testRapide
        h2 Mode de test rapide
        form(id='test', method='post', action='./test')
          input(type='submit', name='submit', value='Commencer !')
      #examen
        h2 Mode d&apos;examen
        form(id='examen', method='post', action='./examen')
          p
            label(for='domaine') Domaine :
            span.styled-select
              select#domaine(name='domain')
                option(value='html') HTML5
                option(value='css') CSS3
                option(value='js') JavaScript
          p
            label(for='totalQuestions') Nombre de questions :
            input#questions(type='number', name='totalQuestions', value='5', step='1', min='1', max='10')
          input(type='submit', name='submit', value='Commencer !')
  section#tableaux
    h1 Statistiques
    div
      table#generalstats.statistiques
        caption Statistiques g&eacute;n&eacute;rales
        tr
          th Nb tests reussis / effectues
          th Moyenne examens
        tr
          td 1 / 99
          td 71%
      table#exams.statistiques
        caption R&eacute;sultats d&apos;examen
        tr
          th Date de l&apos;examen
          th Score
        tr
          td 52 janvier 1056
          td 2%
        tr
          td 1 janvier 0001
          td 140%
      div
        a.a2button(href='#popup1') D&eacute;tails
      div
        input#reset(type='button', value='Remise à zéro')
      #popup1.overlay.clickable
        a(href='#')
        .popup
          h2 Statistiques
          .content
            table#generalstats.statistiques
              caption Statistiques g&eacute;n&eacute;rales
              tr
                th Nb tests reussis / effectues
                th Moyenne examens
              tr
                td 1 / 99
                td 71%
            table#exams.statistiques
              caption R&eacute;sultats d&apos;examen
              tr
                th Date de l&apos;examen
                th Score
              tr
                td 52 janvier 1056
                td 2%
              tr
                td 1 janvier 0001
                td 140