extends layout

block content
  section#modes.leftSideBlock
    h1 Tableau de bord
    script.
      $(document).ready(function() {
        sessionStorage.clear();

        function refreshStats() {
          // insert stats in stats table
          $(".examenElement").remove();

          // get test scores
          $(".testScore").html((localStorage.testScore || 0) + " / " + (localStorage.testCount || 0));

          // get exam scores + average
          var totalScore = 0;
          var totalCount = 0;
          var examens = (localStorage.examens != undefined) ? JSON.parse(localStorage.examens) : [];
          for(var i = examens.length-1; i >= 0; i--) {
            $(".examenList").html($(".examenList").html() + "<tr class='examenElement'><td>Examen" + examens[i].id + "</td>" +
            "<td>(" + examens[i].domain.toUpperCase() + ")</td>"+
            "<td>" + (Math.round(parseInt(examens[i].score) / parseInt(examens[i].total) * 100) || 0) + "%</td></tr>");

            totalScore += parseInt(examens[i].score);
            totalCount += parseInt(examens[i].total);
          }
          $(".examScore").html((Math.round(totalScore / totalCount * 100) || 0) + "%");

        }

        $( "#test" ).submit(function( event ) {
          sessionStorage.count = 0;
          sessionStorage.score = 0;
        });
        $( "#examen" ).submit(function( event ) {
          var domain = $("#domaine option:selected").val();
          var nbQuestions = $("#questions").val();
          sessionStorage.totalQuestions = nbQuestions;
          sessionStorage.domain = domain;
          sessionStorage.count = 0;
          sessionStorage.score = 0;
        });
        $( "#reset" ).click(function( event ) {
          localStorage.clear();
          refreshStats();
        });

        refreshStats();

      });
    div
      #testRapide
        h2 Mode de test rapide
        form(id='test', method='post', action='./test')
          input(type='submit', name='submit', value='Commencer !')
      #examen
        h2 Mode d&apos;examen
        form(id='examen', method='post', action='./examen')
          p
            label(for='domaine') Domaine :
            span.styled-select
              select#domaine(name='domain')
                option(value='html') HTML5
                option(value='css') CSS3
                option(value='js') JavaScript
          p
            label(for='totalQuestions') Nombre de questions :
            input#questions(type='number', name='totalQuestions', value='5', step='1', min='1', max='10')
          input(type='submit', name='submit', value='Commencer !')
  section#tableaux
    h1 Statistiques
    div
      table#generalstats.statistiques
        caption Statistiques g&eacute;n&eacute;rales
        tr
          th Nb tests reussis / effectues
          th Moyenne examens
        tr
          td.testScore
          td.examScore
      #table-wrapper
        #table-scroll
          table#exams.statistiques
            caption R&eacute;sultats d&apos;examen
            thead
              tr
                th
                  span.header Examen
                th
                  span.header Domaine
                th
                  span.header Scor
            tbody.examenList
      div
        a.a2button(href='#popup1') D&eacute;tails
      div
        input#reset(type='button', value='Remise à zéro')
      #popup1.overlay.clickable
        a(href='#')
        .popup
          h2 Statistiques
          .content
            table#generalstats.statistiques
              caption Statistiques g&eacute;n&eacute;rales
              tr
                th Nb tests reussis / effectues
                th Moyenne examens
              tr
                td.testScore
                td.examScore
            #table-wrapper
              #table-scroll
                table#exams.statistiques
                  caption R&eacute;sultats d&apos;examen
                  thead
                    tr
                      th
                        span.header Examen
                      th
                        span.header Domaine
                      th
                        span.header Score
                  tbody.examenList