extends layout

block content
  section#question.leftSideBlock
    h1 #{title} #{qNumber}
    div
      form(method='post', action='./test?q=' + (parseInt(qNumber) + 1))
        if parseInt(qNumber) % 2 == 0
          p Domaine : CSS
          h2 Quel est le symbole s&eacute;lecteur pour une classe?
          input#ans1(type='radio', name='q'+qNumber, value='point')
          label(for='ans1') Le point
          br
          input#ans2(type='radio', name='q'+qNumber, value='diese')
          label(for='ans2') Le di&egrave;se
          br
          input#ans3(type='radio', name='q'+qNumber, value='chevron')
          label(for='ans3') Le chevron droit
          br
        else
          p Domaine : HTML
          h2 Quelle balise n'est pas une balise officielle?
          input#ans1(type='radio', name='q'+qNumber, value='form')
          label(for='ans1') Form
          br
          input#ans2(type='radio', name='q'+qNumber, value='marquee')
          label(for='ans2') Marquee
          br
          input#ans3(type='radio', name='q'+qNumber, value='blockquote')
          label(for='ans3') Blockquote
          br
        input(type='submit', name='submit', value='Prochaine question')
      form(method='get', action='./tableau')
        input(type='submit', value='Retour')
  section#tableaux
    h1 Statistiques
    div
      table#generalstats.statistiques
        caption Statistiques g&eacute;n&eacute;rales
        tr
            th Nb tests reussis / effectues
            th Moyenne examens
        tr
            td 1 / 99
            td 71%
    #statistics
      p Score courant : 0%
